<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!-- Navbar Section -->
    <nav class="navbar nav-bar nav-bar-right">
        <div class="navbar__container">
            <a href="/" id="navbar__logo"><h1>About</h1></a>
            <div class="navbar__toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar__menu">
                <li class="navbar__item">
                    <a href="/" class="navbar__links">Home</a>
                </li>
                <li class="navbar__item">
                    <a href="/about" class="navbar__links">About</a>
                </li>
                <li class="navbar__item">
                    <a href="/messages" class="navbar__links">Messages</a>
                </li>
                <li class="navbar__btn">
                    <a href="/signup" class="button">Sign Up</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-xl">
<section class="section">
    <div class="slider">
    <div class="slide">
        <input type="radio" name="radio-btn" id="radio1">
        <input type="radio" name="radio-btn" id="radio2">
        <input type="radio" name="radio-btn" id="radio3">
        <input type="radio" name="radio-btn" id="radio4">
    <div class="container" >
        <div class="row-cols-sm-5">
        <h1 ><a href="#">Facebook</a></h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem fuga esse, doloribus incidunt ad distinctio repellendus laudantium nostrum praesentium ratione possimus, odio alias, hic sit! Sit repellendus iste atque quisquam.
       </p>
       </div>
    </div>
    <div class="container">
        <div class="row-cols-sm-5">
        <button ><h1><a href="#">Facebook</a></h1></button> 
        <p > Obcaecati laborum architecto odio magnam tempore earum delectus assumenda ab totam illum, natus minus, cum fuga impedit. Dicta magnam facilis ut, consequuntur possimus a amet. Ipsa eligendi alias mollitia repellendus?
        Nesciunt ea sit, veritatis maiores iste vel blanditiis recusandae impedit temporibus provident, dolore quam. Soluta mollitia aliquam accusamus necessitatibus reiciendis quam ex quaerat quas odit. Similique .</p>
        </div>
    </div>
    <div class="containe">
    <div class="row-cols-sm-5">
        <button ><h1><a href="#">Twitter</a></h1></button>
        <p>Doloremque enim et sunt quam, eos eligendi quo voluptates. Est soluta dolorem minus fugiat dolorum minima odio enim nulla at ex. Unde, magni. Voluptate aperiam ad voluptatibus? Minus, soluta deleniti!
        Ea fuga nobis amet voluptatem .</p>
    </div>
    </div>
    <div class="containe">
        <div class="row-cols-sm-5">
        <button><h1><a href="#">Twitter</a></h1></button>
        <p>Aliquid suscipit repellat, placeat culpa nihil molestias voluptatum quo recusandae voluptatibus itaque minus dicta sit accusamus ad reprehenderit incidunt et odit! Excepturi quisquam id provident deserunt reprehenderit asperiores earum saepe.
        </p>
        </div>
    </div>
    <div class="container" style="border-radius:15%;">
        <div class="row-cols-sm-5">
            <button><h1><a href="#">
            Facebook</a></h1></button>
        <p>
        Similique blanditiis eligendi beatae nam. Quo quas nihil nemo quos in velit architecto porro! Excepturi id perspiciatis, odit nesciunt illo veniam molestias, voluptas beatae voluptatibus, neque voluptatum! Temporibus, praesentium totam!
        Fugiat, iste id. Quas aliquam similique tenetur impedit pariatur voluptates sunt officia eum voluptatem incidunt et ratione minima tempore beatae, nisi rem enim aut suscipit cum distinctio sit quam nemo?</p>
        </div>
    </div> 
    <div class="container" style="border-radius:15%;">
        <div class="row-cols-sm-5">
        <button><h1><a href="#">Twitter</a></h1></button>
        
        <p>Similique iure magnam expedita est tenetur doloremque, inventore, saepe esse cupiditate, id obcaecati soluta? Rem similique culpa in soluta cupiditate quam expedita quasi aspernatur necessitatibus ipsa! Veritatis ipsum repellendus optio!
        Exercitationem odio repudiandae eos mollitia</p>
        </div>
    </div>
    <div class="container" style="border-radius:15%;">
        <div class="row-cols-sm-5">
        <button><h1><a href="#">Twitter</a></h1></button>
        
        <p>Consectetur nulla quis maxime enim excepturi natus ex quibusdam veritatis repellat beatae ducimus reiciendis tempora labore ut, placeat quasi quidem cupiditate harum. Corrupti porro nobis dicta sunt rerum, </p>
        </div>
    </div>
    <div class="container" style="border-radius:15%;">
        <div class="row-cols-sm-5">
        <button><h1><a href="#">Twitter</a></h1></button>

        <p>Sed amet error similique mollitia consequuntur commodi ullam, voluptatibus nulla iusto fugiat quia ducimus maiores impedit dolorem reiciendis omnis obcaecati quos culpa? Illo, sequi. Inventore nisi nihil minus atque enim!
        Voluptas eos earum numquam modi, unde placeat officia quia illum ipsa! Aperiam fuga dolor exercitationem quasi neque corrupti.</p>
        </div>
    </div>
    <div class="container" style="border-radius:15%;">
        <div class="row-cols-sm-5">
            <h1><a href="#">Twitter</a></h1>

           <p>Sint repellendus laborum blanditiis similique assumenda, rerum, temporibus, nam deleniti fugit inventore quo cumque rem numquam modi error pariatur nihil impedit animi tenetur perferendis itaque facilis nemo odio ipsa? Dolor.
           Quo officia eaque, molestiae dolore doloribus sint id. Ipsam saepe omnis consequatur nemo est nobis illum quis temporibus sit repellat ipsum dignissimos corporis, ea sint sunt, illo expedita dolorum ratione.
           Ratione, veritatis veniam! Nulla quae accusantium blanditiis molestias sunt. Iusto, explicabo odio et totam quas esse corporis, omnis iste id pariatur sapiente, incidunt nam exercitationem eum tempore quaerat cumque minus.</p>
        </div>
    </div>
    <div class="container" style="border-radius:15%;">
     <div class="row-cols-sm-5">
        <h1><a href="#">Twitter</a></h1>

       <p>Omnis aliquam alias sint repudiandae, vitae fugiat perferendis quisquam non aspernatur similique dolores! Eum nulla sed quis eos quisquam perferendis dolores ducimus. In, suscipit nobis reprehenderit iusto doloremque cum harum?
        Mollitia quo facilis iure et dolor nesciunt iste, asperiores animi temporibus sit! Sequi modi laboriosam omnis earum voluptatum sint nostrum voluptatem. Quos doloribus deleniti laboriosam nesciunt porro praesentium iusto quis?</p>
       <h1><a href="#">Twitter</a></h1>
    </div>
    </div>
    <div class="container" style="border-radius:15%;">
    <div class="row-cols-sm-5">
        <p>Fuga nesciunt doloribus, omnis accusantium assumenda architecto temporibus voluptate quaerat itaque, obcaecati aut, facilis alias. Et suscipit animi tempora itaque possimus doloribus quisquam ipsam officia eaque quaerat fugit, consequuntur nostrum.
        Blanditiis quos nemo voluptatibus repellendus illum.</p>
    </div>
    </div>
    <div class="container" style="border-radius:15%;">
    <div class="row-cols-sm-5">
        <button><h1><a href="#">Twitter</a></h1></button>

       <p> Autem mollitia, incidunt esse quam distinctio inventore cumque. Nesciunt, ad ex impedit facilis vel quae vero omnis nemo earum est obcaecati mollitia dolorem perspiciatis magni delectus tempora consequuntur accusantium perferendis.
        Illo minima ipsa sed maxime ratione asperiores beatae vero culpa id aliquid assumenda quae, corrupti molestiae neque voluptatum sint maiores velit. Similique earum at quod labore suscipit cum architecto repellendus!</p>
    </div>
    </div>
    <div class="container>" style="border-radius:15%;">
    <div class="row-cols-sm-5">
        <button><h1><a href="#">Twitter</a></h1></button>
        <p>Reiciendis vel recusandae molestias totam suscipit neque quis praesentium tenetur nam fugit provident similique ipsum quo molestiae reprehenderit aut, quidem, nesciunt fuga explicabo velit culpa nostrum magnam possimus. Quisquam, in.
        Praesentium, quis. Laborum corrupti quisquam libero suscipit nemo eligendi molestiae, quasi iste? Ullam repellendus provident sunt optio rerum non magni maiores, dolore modi voluptate repellat quidem hic quod, obcaecati doloribus.</p>
    </div>
    </div>  
    <div class="container >" style="border-radius:15%;">
    <div class="row-cols-sm-5">
        <h1><a href="#">Facebook</a></h1>
        <p>
        Ullam omnis deserunt vero. Vitae voluptates consequuntur adipisci atque, at, odit dolore ad natus unde et iste quod deserunt labore reiciendis doloribus. Placeat et quisquam dolorum expedita alias voluptas ipsum.</p>
        </div>
    </div>
    <div class="container>" style="border-radius:15%;">
    <div class="row-cols-sm-5">
        <h1><a href="#">Facebook</a></h1>
        <p>
        Nam illo deleniti a harum, aliquid provident, eius, non eaque sit architecto praesentium. Mollitia fugiat harum odit fuga quae debitis, explicabo voluptatum veritatis nemo suscipit eligendi commodi temporibus incidunt? Culpa.
        Quibusdam voluptates, necessitatibus rerum enim facere libero reiciendis cupiditate quo possimus porro opti.</p>
    </div>
    <div class="nav-auto">
        <div class="a-b1"></div>
        <div class="a-b2"></div>
        <div class="a-b3"></div>
        <div class="a-b4"></div>
    </div>
    </div>
    <div class="nav-m">
        <label for="radio1" class="m-btn"></label>
        <label for="radio2" class="m-btn"></label>
        <label for="radio3" class="m-btn"></label>
        <label for="radio4" class="m-btn"></label>
    </div>
    </div>
    </div>


    <!-- Footer Section -->
    <div class="footer__container">
        <p class="website__rights">Sjita Car-Wash |  2022. All rights reserved</p>
    </div>
</section>

    <script>
        const menu = document.querySelector('#mobile-menu');
        const menuLinks = document.querySelector('.navbar__menu');
    
    
        menu.addEventListener('click', function() {
        menu.classList.toggle('is-active')
        menuLinks.classList.toggle('active')
        })
    
    </script>
    <script type="text/javascript">
        var counter=1;
        setInterval(function(){
            document.getElementById?('radio' + counter).checked=true:
            counter++;
            if(counter > 4){
                counter = 1;
            }
        },5000)

    </script>
    <script src="/public/js/bootstrap.bundle.min.js"></script>
    <script src="/public/js/bootstrap.js"></script>
</body>
</html>